
// colors
$text-color: #222222;
$error-color: #e32c2f;
$success-color: #0c8b2e;
$fileupload-row-color: #cbd1d8;
$failure-odd-row-color: #d1e4ee;
$failure-even-row-color: #dfe8f0;
$failure-row-border-color: #b8c7d5;
$buttonbar-bg-color: #f8f9fa;
$buttonbar-border-color: #dee2e6;
$buttonbar-text-color: #343a40;

// fonts
$body-text-font-size: 14px;
$body-text-font-weight: normal;
$body-font-family: 'Roboto';

// dimensions
$upload-form-width: 800px;
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px; 
//$col: col-width($columns: 8);